{% extends 'main.html' %}
{% block title %}
    Inicio de sesión en ASE
{% endblock %}
{% block body %}
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-4 is-offset-8">
                {% if form.errors %}
                    <div class="notification is-warning">
                        {% for  error in form.errors.values %}
                            {{ error }}<br />
                        {% endfor %}
                    </div>
                {% endif %}
                <form method="post" action="{% url 'app:login' %}">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Usuario</label>
                        <div class="control">
                            <input type="text" class="input" name="usuario" />
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Contraseña</label>
                        <div class="control">
                            <input type="password" class="input" name="password" />
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-right">
                        <div class="control">
                            <button type="submit" class="button is-primary">
                                Iniciar Sesión
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}